.footer {
    background-color: #f46075; /* Footer background color */
    color: white;
    padding: 20px 0;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 10px 20px;
}

.footer-section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #fff;
}

.footer-section p,
.footer-section ul,
.footer-section li {
    font-size: 1rem;
    margin-bottom: 8px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #333;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 10px;
    font-size: 0.9rem;
}